body {
    background-image: url('../images/welcome.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: whitesmoke;
    background-color: #ffffff;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 50px;
}

title {
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: whitesmoke;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    font-size: 100px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

main {
    flex: 1;
    padding: 20px;
}

p {
    font-size: 24px;
}

.image_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69%;
}


/*Начало на Footer-а*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

    .footer a {
        color: #007bff;
        text-decoration: none;
        margin-left: 5px;
    }

        .footer a:hover {
            text-decoration: underline;
        }
/* Край на Footer-а*/
